BASE_URL=https://igrec.net
ADDR=:8080
RESEND_API_KEY=
EMAIL_FROM=igrec <hello@igrec.net>
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
APP_SECRET=
DATABASE_URL=sqlite://data/igrec.db
